@import url('https://fonts.googleapis.com/css?family=Bitter:400,700');

/**
 * Color palette
 *
 * #F7803C
 * #F54828
 * #45B29D
 * #334D5C
 * #222222
 */

/**
 * Typography
 */

body {
    font: 100%/1.5 'Segoe UI', SimHei, sans-serif;
}

h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 1em 0;
}

h2 {
    font-size: 1.5em;
    font-family: Bitter, serif;
}

h3 {
    margin-top: 2em;
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

a, .tasks button { color: #F54828; }
a:hover, a:focus,
.tasks button:hover, .tasks button:focus { color: #334D5C; }

/**
 * Layout
 */

* { margin: 0; padding: 0; }

header {
        display: block;
        background: #F7803C;
        color: white;
        padding: 20px;
    }
    header .back {
        float: left;
        margin-right: 1em;
    }
    header h1 {
        margin: 0;
        font-size: 1em;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    header a, header a:hover, header a:focus {
        text-decoration: none;
        color: white;
}

main {
    display: block;
    padding: 1px 20px;
}

/**
 * Forms
 */

input, textarea, button {
    box-sizing: border-box;
    padding: 1px 5px;
    font: inherit;
}

textarea {
    width: 100%;
    font-family: Consolas, monospace;
    resize: vertical;
}

input[type="text"] { width: 66%; }

label input[type="text"], label textarea {
    display: block;
    margin-top: 5px;
}

/**
 * Components
 */

.stats {
        list-style: none;
        overflow: hidden;
    }
    .stats li {
        box-sizing: border-box;
        width: 50%;
        border-left: 2px solid white;
        padding: 20px;
        float: left;
        background: #eee;
        color: #555;
        font-size: .6em;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .stats li:nth-child(odd) {
        border-left: none;
        border-right: 2px solid white;
    }
    .stats li:nth-child(n+3) {
        border-top: 4px solid white;
    }
    .stats li span {
        display: block;
        font-size: 2.3em;
        color: black;
        text-transform: lowercase;
        letter-spacing: normal;
}

.sets, .tasks {
        list-style: none;
    }
    .sets li span, .tasks li span {
        padding: 0 5px;
        margin-left: 5px;
        background: #334D5C;
        border-radius: 1.5em;
        color: white;
        font-size: .8em;
        font-weight: bold;
}

.tasks button {
        display: inline;
        border: none;
        padding: 0 !important;
        background: none;
        cursor: pointer;
        text-decoration: underline;
    }
    .tasks button::-moz-focus-inner {
        border: none;
        padding: 0;
}

.levels li:nth-child(1), .vocabularies li.inactive a {
        background-image: repeating-linear-gradient(
            -45deg,
            transparent,
            transparent 10px,
            rgba(0, 0, 0, 0.05) 10px,
            rgba(0, 0, 0, 0.05) 20px
        );
    }
    .levels li:nth-child(n+2), .levels li:nth-child(n+2) span { color: white; }
    .levels li:nth-child(1) { border-radius: 5px 0 0 0; }
    .levels li:nth-child(2), .vocabularies li.apprentice a { background: #F7803C; }
    .levels li:nth-child(3), .vocabularies li.guru a { background: #F54828; }
    .levels li:nth-child(4), .vocabularies li.master a { background: #45B29D; }
    .levels li:nth-child(5), .vocabularies li.enlightened a { background: #334D5C; }
.levels li:nth-child(6), .vocabularies li.burned a { background: #222; }

.vocabularies {
        list-style: none;
        text-align: center;
        font-size: 1.3em;
    }
    .vocabularies li, .vocabularies li a {
        display: inline-block;
    }
    .vocabularies li a {
        box-sizing: border-box;
        padding: 1px 5px;
        min-width: 1.5em;
        margin-bottom: .5em;
        background-color: #eee;
        color: black;
        opacity: .8;
        text-align: center;
        text-decoration: none;
    }
    .vocabularies li.enlightened a, .vocabularies li.apprentice a,
    .vocabularies li.master a, .vocabularies li.burned a
    .vocabularies li.guru a { color: white; }
    .vocabularies li a:hover, .vocabularies li a:focus {
        opacity: 1;
}

.meta {
    opacity: .5;
    text-align: right;
}

#progress {
        position: relative;
        height: 5px;
        margin-top: -5px;
        background: #F7803C;
    }
    #progress span {
        background: rgba(0, 0, 0, .2);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 5px;
        transition: width .5s;
}

#study {
        list-style: none;
    }
    #study > li > h3 {
        margin: 1.5em 0;
        font-size: 2.5em;
        font-weight: bold;
        letter-spacing: normal;
        text-align: center;
        text-transform: none;
    }
    #study + p { text-align: center; }
    #study + p button { margin: 2px 2px; }
    #study .back, #study .notes,
    #study + p .showagain, #study + p .nextcard,
    #study + p .shownotes, #study.reveal.revealnotes + p .shownotes,
    #study.reveal + p .reveal {
        display: none;
    }
    #study.reveal .back, #study.revealnotes .notes {
        display: block;
    }
    #study.reveal + p .shownotes,
    #study.reveal + p .showagain,
    #study.reveal + p .nextcard {
        display: inline-block;
}

#addlist {
        list-style: none;
    }
    #addlist li {
        border-bottom: 1px solid #eee;
        padding-bottom: 2em;
        margin-bottom: 2em;
    }
    #addlist li p {
        margin: 5px 0;
    }
    #addlist + p button:first-child {
        float: right;
}

h2.vocabulary {
    margin-bottom: 2.5em;
    font-family: inherit;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

section.back, section.notes,
section.back + textarea, section.notes + textarea {
        border: none;
        border-top: 1px solid #eee;
        padding: 20px;
    }
    section.back .tasks, section.notes .tasks {
        position: relative;
        right: -20px;
        margin-top: -1.2em;
        font-size: .8em;
        letter-spacing: 1px;
        text-align: right;
        text-transform: uppercase;
    }
    section.back .tasks a, section.notes .tasks a {
        color: #aaa;
}

@media screen and (min-width: 700px) {
    body {
        font-size: 120%;
    }

    .stats li, .levels li {
        border-top: none !important;
        border-left: 2px solid white !important;
        border-right: 2px solid white !important;
    }

    .levels li {
        width: 16.66%;
    }

    h2.vocabulary, #study > li > h3 {
        margin: .5em 0 1em;
        font-size: 4em;
    }
}
