@import url('https://fonts.googleapis.com/css?family=Bitter:700');

/**
 * Color palette
 *
 * #F7803C
 * #F54828
 * #45B29D
 * #334D5C
 * #222222
 */

* { 
    margin: 0;
    padding: 0;
    touch-action: manipulation;
}

/**
 * Typography
 */

body {
    font: 100%/1.5 'Segoe UI', 'Microsoft YaHei', DengXian, sans-serif;
}

h3, h4, h5, h6 {
    color: #333;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 1em 0;
}

h2 {
    font-size: 1.5em;
    font-family: Bitter, 'Microsoft YaHei', DengXian, serif;
}

h3 {
    margin-top: 2em;
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

ul {
    list-style: square;
}

code {
    background: #eee;
    font: inherit;
    font-family: Consolas, 'Microsoft YaHei', DengXian, monospace;
    padding: 1px 5px;
}

time {
    cursor: help;
}

a, .tasks button { color: #F54828; }
a:hover, a:focus,
.tasks button:hover, .tasks button:focus { color: #334D5C; }

img {
    max-width: 100%;
}

/**
 * Layout
 */

html, body { height: 100%; }

header {
        display: block;
        background: #F7803C;
        color: white;
        padding: 20px;
    }
    header .back {
        float: left;
        margin-right: 1em;
    }
    header h1 {
        margin: 0;
        font-size: 1em;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    header a, header a:hover, header a:focus {
        text-decoration: none;
        color: white;
}

#wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 5em;
}

main {
    display: block;
    padding: 1px 20px;
}

footer {
        box-sizing: border-box;
        display: block;
        height: 3.5em;
        padding: 1em 2em;
        margin-top: -3.5em;
        background: #334D5C;
        color: white;
        text-align: right;
    }
    footer p {
        margin: 0;
    }
    footer a, footer a:hover, footer a:focus {
        color: white;
}

/**
 * Forms
 */

input, textarea, button {
    box-sizing: border-box;
    padding: 1px 5px;
    font: inherit;
}

textarea {
    width: 100%;
    font-family: Consolas, 'Microsoft YaHei', DengXian, monospace;
    resize: vertical;
}

input[type="text"] { width: 66%; }

label input, label textarea {
    display: block;
    margin-top: 5px;
}

button {
        position: relative;
        border: none;
        padding: .1em .5em;
        background: #45B29D;
        color: white;
    }
    button:disabled {
        opacity: .5;
    }
    button:hover {
        background: #23907B;
    }
    button:active {
        top: 1px;
}

/**
 * Components
 */

.stats {
        list-style: none;
        overflow: hidden;
    }
    .stats li {
        box-sizing: border-box;
        width: 50%;
        border-left: 2px solid white;
        padding: 20px;
        float: left;
        background: #eee;
        color: #555;
        font-size: .6em;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .stats li:nth-child(odd) {
        border-left: none;
        border-right: 2px solid white;
    }
    .stats li:nth-child(n+3) {
        border-top: 4px solid white;
    }
    .stats li span, .stats li time {
        display: block;
        font-size: 2.3em;
        color: black;
        text-transform: lowercase;
        letter-spacing: normal;
}

h3#sets {
        margin-top: 1em;
        margin-right: 1em;
        float: left;
    }
    h3#sets + .tasks {
        margin-top: 2em;
}

.sets, .tasks {
        list-style: none;
    }
    .sets li span, .tasks li span {
        display: inline-block;
        padding: 0 5px;
        margin-left: 5px;
        min-width: 1em;
        background: #334D5C;
        border-radius: 1.5em;
        color: white;
        font-size: .8em;
        font-weight: bold;
        text-align: center;
}

.tasks button {
        display: inline;
        position: static;
        border: none;
        padding: 0;
        background: none;
        cursor: pointer;
        text-decoration: underline;
    }
    .tasks button::-moz-focus-inner {
        border: none;
        padding: 0;
}

.levels li:nth-child(1), .vocabularies li.inactive a {
        background-image: linear-gradient(to top, #ddd, #ddd 1px, transparent 2px),
            repeating-linear-gradient(
                -45deg,
                transparent,
                transparent 10px,
                rgba(0, 0, 0, 0.05) 10px,
                rgba(0, 0, 0, 0.05) 20px
            );
    }
    .levels li:nth-child(n+2), .levels li:nth-child(n+2) span { color: white; }
    .levels li:nth-child(1) { border-radius: 5px 0 0 0; }
    .levels li:nth-child(2), .vocabularies li.apprentice a { background: #F54828; }
    .levels li:nth-child(3), .vocabularies li.guru a { background: #F7803C; }
    .levels li:nth-child(4), .vocabularies li.master a { background: #45B29D; }
    .levels li:nth-child(5), .vocabularies li.enlightened a { background: #334D5C; }
.levels li:nth-child(6), .vocabularies li.burned a, .progress .burned { background: #222222; }

.progress {
        margin-top: 1.9em;
        list-style: none;
    }
    .progress.render {
        background: linear-gradient(#ddd, #ddd 1px, #eee 2px);
    }
    .progress.render:after {
        content: '';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    .progress.render .active,
    .progress.render .correct { background: #45B29D; }
    .progress.render li {
        position: relative;
        width: 0;
        float: left;
        text-indent: -9999em;
    }
    .progress.render li span {
        position: absolute;
        right: 0;
        top: -1.6em;
        padding: 1px 5px;
        background: black;
        color: white;
        font-size: .8em;
        text-indent: 0;
        opacity: 0;
        transition: opacity .2s, top .2s;
        pointer-events: none;
    }
    .progress.render li:hover span {
        top: -1.8em;
        opacity: .7;
        pointer-events: auto;
}

.vocabularies {
        list-style: none;
        text-align: center;
        font-size: 1.3em;
    }
    .vocabularies li, .vocabularies li a {
        display: inline-block;
    }
    .vocabularies li a {
        box-sizing: border-box;
        padding: 1px .5em;
        min-width: 1.5em;
        margin-bottom: .5em;
        background-color: #eee;
        color: black;
        opacity: .8;
        text-align: center;
        text-decoration: none;
    }
    .vocabularies li.enlightened a, .vocabularies li.apprentice a,
    .vocabularies li.master a, .vocabularies li.burned a,
    .vocabularies li.guru a { color: white; }
    .vocabularies li a:hover, .vocabularies li a:focus { opacity: 1; }
    .vocabularies li.separator {
        background: #222222;
        color: white;
        width: 1.5em;
    }
    .vocabularies li.more a {
        background: #222222;
        color: white;
        font-weight: bold;
    }
    .vocabularies li.more a.disabled {
        opacity: .4;
        cursor: default;
}

.meta {
    opacity: .5;
    text-align: right;
}

.nav {
        list-style: none;
        overflow: hidden;
    }
    .nav .prev a, .nav .next a {
        text-decoration: none;
    }
    .nav .prev {
        float: left;
    }
    .nav .next {
        float: right;
}

#progress {
        position: relative;
        height: 5px;
        margin-top: -5px;
        background: #F7803C;
    }
    #progress span {
        background: rgba(0, 0, 0, .2);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 5px;
        transition: width .5s;
}

#vocab {
    position: relative;
}

#study {
        list-style: none;
    }
    #study textarea,
    #study.edit section.back, #study.edit section.notes { display: none; }
    #study.edit.reveal section.back + textarea,
    #study.edit.revealnotes section.notes + textarea { display: block; }
    #study > li > h3 {
        margin: 1.5em 0;
        font-size: 2.5em;
        letter-spacing: normal;
        text-align: center;
        text-transform: none;
    }
    #study + p, #study + p + p { text-align: center; }
    #study + p + p, #study.edit + p { display: none; }
    #study.edit + p + p { display: block; }
    #study + p button { margin: 2px 2px; }
    #study .back, #study .notes,
    #study + p .showagain, #study + p .nextcard,
    #study + p .shownotes, #study.reveal.revealnotes + p .shownotes,
    #study.reveal + p .reveal {
        display: none;
    }
    #study.reveal .back, #study.revealnotes .notes {
        display: block;
    }
    #study.reveal + p .shownotes,
    #study.reveal + p .showagain,
    #study.reveal + p .nextcard {
        display: inline-block;
}

#addlist {
        list-style: none;
    }
    #addlist li {
        border-bottom: 1px solid #eee;
        padding-bottom: 2em;
        margin-bottom: 2em;
    }
    #addlist li p {
        margin: 5px 0;
    }
    #addlist + p button:first-child {
        float: right;
}

#vocab h2 {
    margin-bottom: 2.5em;
    font-family: inherit;
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
}

section.back, section.notes,
section.back + textarea, section.notes + textarea {
        border: none;
        border-top: 1px solid #eee;
        padding: 20px 0;
    }
    section.back .tasks, section.notes .tasks {
        position: relative;
        right: 0;
        margin-top: -1.2em;
        font-size: .8em;
        letter-spacing: 1px;
        text-align: right;
        text-transform: uppercase;
    }
    section.back .tasks a, section.notes .tasks a {
        color: #aaa;
    }
    section.back ul, section.back ol,
    section.notes ul, section.notes ol {
        margin-left: 1.5em;
}

@media screen and (min-width: 700px) {
    body {
        font-size: 120%;
    }

    footer {
        font-size: .8em;
    }

    .stats li, .levels li {
        border-top: none !important;
        border-left: 2px solid white !important;
        border-right: 2px solid white !important;
    }
    .stats li { width: 33.33%; }
    .levels li { width: 16.66%; }

    .tasks li {
        display: inline;
        margin-right: 10px;
    }

    #vocab h2, #study > li > h3 {
        margin: .5em 0 1em;
        font-size: 3.5em;
    }

    #vocab .tasks li:first-child {
        float: left;
    }
}

@-ms-viewport{
    width: device-width;
}
